/* Fixed social icons*/
#fixed_social_icons_container {
  position: fixed;
  top: 250px;
  z-index: 100;
  box-shadow: rgb(0, 2, 241) 0px 0px 0px 2px;
  background: #efefef;
}

#fixed_social_icons_container a {
  display: block;
  height: 40px;
  position: relative;
  text-align: center;
  line-height: 40px;
  width: 40px;
  margin-bottom: 1px;
}

#fixed_social_icons_container a:hover > span {
  visibility: visible;
  left: 41px;
  opacity: 1;
}

#fixed_social_icons_container a span {
  background: #efefef;
  border: 1px solid#0200F1;
  left: 60px;
  position: absolute;
  text-align: center;
  width: 100px;
  visibility: hidden;
  transition-duration: 0.5s;
  z-index: 1;
  opacity: 0;
}

/*End of Fixed social icons*/

/* Hero section */
.hero__section_wrapper {
  padding: 4rem 1rem 1rem 1rem;
  background: #e2e2e2;
  border-bottom-left-radius: 3rem;
  border-bottom-right-radius: 3rem;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.hero_section {
  display: flex;
}

.hero_section_left,
.hero_section_right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

/* End of Hero section

/* Media queries */
@media screen and (max-width: 1024px) {
  .hero_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .hero_section_right {
    order: 2;
  }

  .hero_section_left {
    order: 1;
  }

  .hero_section_left h1 {
    font-weight: 700 !important;
    font-size: 3rem !important;
    text-align: center;
    -webkit-text-stroke: 1px transparent;
    letter-spacing: 1px;
  }
}

@media screen and (max-width: 680px) {
  .form-inline {
    margin-top: 0.2rem;
  }

  .floating-panel-container-onload ul li a {
    font-size: 1rem;
    height: 25px;
    width: 25px;
  }

  .hero__section_wrapper {
    max-width: 100%;
  }

  .hero_section_left h1 {
    font-size: 2.5rem !important;
    line-height: 1.5;
  }
}

@media screen and (min-width: 1300px) {
  .hero_section_left h1 {
    font-size: 5rem !important;
  }
}

/* End of Media queries for Hero section*/
