p.text-center {
  font-weight: 500;
  line-height: 1.75;
}

.row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  padding: 1rem;
}

.col-md-4 {
  width: 100%;
  margin: 1rem auto;
}

.card {
  margin: 0 auto;
  border: none;
  background: #efefef;
  align-items: center;
}

.card-body {
  padding: 1rem 0.5rem;
}

.card-body ul {
  margin: 0;
  padding: 0;
}

.card-body ul li {
  font-weight: 500;
  text-decoration: none;
  list-style-type: none;
  margin: auto;
  line-height: 1.75;
}

.gradient-card {
  padding-top: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gradient-card-wrapper {
  position: relative;
}

.gradient-card-wrapper span {
  background: transparent;
  text-decoration: none;
}

.text-box {
  text-align: left;
  padding: 2rem 1rem 1rem 1rem;
  background: #368fac;
  background: -webkit-linear-gradient(to right, #2f80ed, #56ccf2);
  background: linear-gradient(to right, #2f80ed, #56ccf2);
  width: 380px;
}

.gradient-card-wrapper h4 {
  font-weight: 600;
  padding-top: 0.5rem;
}

.gradient-card-wrapper:hover {
  box-shadow: rgb(0 0 0 / 10%) 0px 20px 25px -5px,
    rgb(0 0 0 / 4%) 0px 10px 10px -5px;
}

.gradient-card-wrapper a {
  color: #eee;
  text-decoration: none;
  background: transparent;
  font-weight: 500;
}

.gradient-card-wrapper a span {
  text-decoration: underline;
}

.dots {
  width: 1rem;
  height: 1rem;
  position: absolute;
  border-radius: 50%;
  top: 1%;
  left: 8%;
}

.dots:nth-child(1) {
  background-color: #ff605c;
  margin: 0.75rem 0.75rem;
}

.dots:nth-child(2) {
  background-color: #ffbd44;
  margin: 0.75rem 2.3rem;
}

.dots:nth-child(3) {
  background-color: #00ca4e;
  margin: 0.75rem -0.75rem;
}

@-webkit-keyframes floating {
  0%,
  100% {
    -webkit-transform: translateY(0rem);
    transform: translateY(0rem);
  }

  50% {
    -webkit-transform: translateY(-1rem);
    transform: translateY(-1rem);
  }
}

@keyframes floating {
  0%,
  100% {
    -webkit-transform: translateY(0rem);
    transform: translateY(0rem);
  }

  50% {
    -webkit-transform: translateY(-1.5rem);
    transform: translateY(-1.5rem);
  }
}

/* Skills section */
.experience-section-wrapper {
  width: 100%;
  margin: 0 auto;
  padding: 1rem;
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 0.5rem;
}

.experience-grid-imgs img {
  width: 20%;
}

ul.experience-item-list {
  border-left: 2px solid #0200f1;
  padding: 0;
  list-style-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='10' height='10' viewBox='-1 -1 2 2'><circle r='1' /></svg>");
}

li.item::marker {
  background: #0200f1 !important;
}

li.item {
  margin: 1rem;
  border-radius: 5px;
  width: 400px;
  padding: 10px;
  background: #efefef;
}

.experience-item-list li {
  line-height: 1.75;
}

ul.experience-item-list {
  text-align: left;
}

.item-timespan,
.item-content-text {
  font-weight: 700;
  font-size: 1rem;
  color: #6e40ff;
}

.item-title-text {
  font-weight: 900;
}

.item-content-text a {
  color: #0000bd;
  text-decoration: none;
}

.item-content-text a:hover {
  text-decoration: underline;
  transition: 1s ease;
}

.logos-section {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.logos-section img {
  margin: 0.5rem;
}

.logos-section a:hover {
  transition: 0.5s;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}

/* End of Skills section */

/* Certifications section */
.certifications-section {
  width: 100%;
  overflow-x: hidden;
  background: #efefef;
  background: #e2e2e2;
  border-bottom-left-radius: 3rem;
  border-bottom-right-radius: 3rem;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  padding-bottom: 1rem;
}

.gallery {
  max-width: 1344px;
  margin: 1rem auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  scroll-snap-type: x mandatory;
  white-space: nowrap;
  overflow-y: auto;
}

.gallery img {
  max-width: 200px;
  height: 75%;
  margin: 1rem;
  cursor: pointer;
  filter: grayscale(40%);
  scroll-snap-align: center;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
}

/* End of Certifications section */

  .organizations_section {
    background: #efefef;
  }

/* Media Queries */
@media (max-width: 680px) {
  h2.text-center {
    width: 100%;
  }

  /* .card img {
    width: 100%;
  } */

  .row {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 2px;
  }

  .col-md-4 .card {
    margin: 0 1rem;
  }

  .gradient-card {
    padding: 1rem;
  }

  .text-box {
    width: 100%;
  }

  /* Skills section media queries */
  .experience-section-wrapper {
    width: 100%;
    padding: 2rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 1.3rem;
    align-items: center;
  }

  .experience-timeline-cards {
    margin: 0 auto;
    padding: 0;
  }

  li.item {
    margin-left: 8px;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
  }

  .logos-section {
    align-items: center;
    display: grid;
    grid-template-columns: 1fr;
  }

  .logos-section a {
    margin: 0 auto;
  }

  .gallery {
    max-width: 100%;
    overflow-x: scroll;
    display: flex;
    -webkit-box-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    align-items: center;
    padding: 0.75rem;
    border: none;
    gap: 2rem;
  }

  /* End of Skills section media queries */
}

@media screen and (min-width: 1100px) {
  .experience-section-wrapper,
  .logos-section {
    max-width: 1344px;
    margin: auto;
  }
}

@media screen and (min-width: 1300px) {
  .experience-section-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: 360px) {
  .row {
    padding: 0.25rem;
  }

  .gradient-card {
    padding: 1rem;
  }
}

/* End of Media Queries */
