/* CSS for ImageModal component */
.image-modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 999;
}

.modal-content {
  position: relative;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 20px;
  text-align: center;
  width: fit-content;
  max-width: 95%;
  height: 90%;
  overflow: auto;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.previous_btn, .next_btn {
  position: absolute;
  top: 50%;
  font-size: 4rem;
}

.previous_btn {
  left: 0;
}

.next_btn {
  right: 0;
}

.close {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 700;
  color: #eee;
  background: red;
  padding: 0.2rem;
}

.modal-content img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  padding-top: 1rem;
}

@media screen and (max-width: 680px) {
    .modal-content {
        height: unset;
    }

   /* .modal-content img {
        object-fit: contain;
    } */
}
