.footer_section {
  width: 100%;
  display: grid;
  place-items: center;
  padding: 1rem;
}

strong {
  font-weight: 600 !important;
  text-align: center;
}

strong span {
  color: #0e1280;
  line-height: 1.25;
  font-weight: 500;
  pointer-events: none;
}

.copyright_text h6 {
  font-weight: 600;
  text-shadow: none !important;
}
