/* Experience section */
.experience__items_list {
  border-left: 1.5px solid #121212;
  padding: 0;
  list-style-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='10' height='10' viewBox='-1 -1 2 2'><circle r='1' /></svg>");
}

.item {
  margin: 1rem;
  width: 100%;
  max-width: 400px;
  padding: 10px;
  border: 1px solid #222;
}

.experience__items_list li {
  line-height: 1.75;
}

.experience__items_list {
  text-align: left;
}

.item__timespan,
.item__company_title {
  font-weight: 700;
  font-size: 15px;
}

.item__job_title {
  color: #2909d9;
  font-weight: 600;
}

.item__company_title a {
  color: unset;
  text-decoration: none;
}

.item__company_title a:hover {
  text-decoration: underline;
  transition: all 1s ease;
}

.organization_logos {
  width: 100%;
  display: table;
  position: relative;
  border-top: 1px solid #222;
}

.organization_logos::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.organization_logos::after {
  display: table;
}

.organization_logos img {
  border-right: 1px solid #000;
  height: 200px;
  width: 25%;
  object-fit: contain;
  padding: 0.25rem;
}

.organization_logos img:last-child {
  border-right: none;
}

/* End of Experience section */

/* Media queries */
@media screen and (max-width: 1024px) {
  .organization_logos {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .organization_logos img {
    width: 100%;
    border: none;
  }

  .organization_logos img:nth-child(1),
  .organization_logos img:nth-child(2) {
    border-bottom: 1px solid #222;
  }

  .organization_logos img:nth-child(odd) {
    border-right: 1px solid #222;
  }
}

@media screen and (max-width: 680px) {
  .experience_section {
    padding-right: 0.5rem;
  }

  .item {
    margin-left: 8px;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
  }

  .organization_logos {
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
  }

  .organization_logos img:nth-child(odd) {
    border-bottom: 1px solid #222;
    border-right: none;
  }

  .organization_logos img:last-child {
    border-bottom: none;
  }
}

/* End of Media queries */
