/* Experience section */
.experience-section-wrapper {
  width: 100%;
  margin: 0 auto;
  padding: 1rem;
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 0.5rem;
}

.experience-grid-imgs img {
  width: 20%;
}

ul.experience-item-list {
  border-left: 2px solid #0200f1;
  padding: 0;
  list-style-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='10' height='10' viewBox='-1 -1 2 2'><circle r='1' /></svg>");
}

li.item::marker {
  background: #0200f1 !important;
}

li.item {
  margin: 1rem;
  border-radius: 5px;
  width: 400px;
  padding: 10px;
  background: #efefef;
}

.experience-item-list li {
  line-height: 1.75;
}

ul.experience-item-list {
  text-align: left;
}

.item-timespan,
.item-content-text {
  font-weight: 700;
  font-size: 1rem;
  color: #6e40ff;
}

.item-title-text {
  font-weight: 900;
}

.item-content-text a {
  color: #0000bd;
  text-decoration: none;
}

.item-content-text a:hover {
  text-decoration: underline;
  transition: 1s ease;
}

.logos-section {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.logos-section img {
  margin: 0.5rem;
}

.logos-section a:hover {
  transition: 0.5s;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}

/* End of Experience section */

.organizations_section {
  background: #efefef;
}

/* Media queries */
@media screen and(max-width: 680px) {
  .experience-section-wrapper {
    width: 100%;
    padding: 2rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 1.3rem;
    align-items: center;
  }

  .experience-timeline-cards {
    margin: 0 auto;
    padding: 0;
  }

  li.item {
    margin-left: 8px;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
  }

  .logos-section {
    align-items: center;
    display: grid;
    grid-template-columns: 1fr;
  }

  .logos-section a {
    margin: 0 auto;
  }
}

@media screen and (min-width: 1100px) {
  .experience-section-wrapper,
  .logos-section {
    max-width: 1344px;
    margin: auto;
  }
}

@media screen and (min-width: 1300px) {
  .experience-section-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

/* End of Media queries */
