@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;900&display=swap");

* {
  color: #0200f1;
  font-family: "Work Sans", sans-serif;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  overflow-x: hidden;
}

/* Normalizing CSS */
.navbar-nav .nav-link {
  display: inline-block;
}

.dropdown-item:hover {
  background-color: transparent;
  display: inline-block;
}

.navbar-brand {
  padding-top: 0;
  padding-bottom: 0;
}

ul.navbar-nav.mx-auto.mb-2.mb-lg-0 {
  margin: 0;
}

.baguetteBox-button svg {
  position: absolute;
  left: 0;
  top: 0;
  background: #444;
}

/* End of Normalizing CSS */

.default_padding_top {
  padding-top: 3rem;
}

.standard_text {
  font-size: 18px;
}

.small_text {
  font-size: 20px;
}

.medium_text {
  font-size: 24px;
  font-weight: 700;
}

.large_text {
  font-size: 28px;
}

.heading2 {
  font-size: 28px;
  font-weight: 700;
  background: -webkit-linear-gradient(
    270deg,
    #0000f1b3,
    #1b19f2,
    #3433f3,
    #0200f1
  );
  -webkit-text-stroke: 1px transparent;
  letter-spacing: 1px !important;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
